* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* hides horizontal scrollbar */
}
/* Hide vertical scrollbar while allowing scroll */
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

body {
  width: 100%;
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
   font-family: Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg, #e3f2fd, #788997); /* light blue gradient */

  color: #333;
  min-height: 100vh;
}



button{
  background-color: #0095ff;
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
  border:none;
  border-radius: 5px;
  cursor: pointer;
   transition: 0.3s;
  box-shadow: px 5px #939393;
}

button:hover{
  background-color: #0077cc;
}

button:active{
   box-shadow: 0px 8px #939391;
}

a{
  text-decoration: none;
}
a:active{
  color: black;
}


.error{
  color: red;
  font-size: 0.75rem;
}
